In [4]:
import databricks.koalas as ks
import numpy as np

In [5]:
# Series
ser = ks.Series([1, 3, 5, np.nan, 6, 8])

ser

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
Name: 0, dtype: float64

In [11]:
kdf = ks.DataFrame(
    {'a': [1, 2, 3, 4, 5, 6],
     'b': [100, 200, 300, 400, 500, 600],
     'c': ["one", "two", "three", "four", "five", "six"]},
    index=[10, 20, 30, 40, 50, 60])

kdf

    a    b      c
10  1  100    one
20  2  200    two
30  3  300  three
40  4  400   four
50  5  500   five
60  6  600    six

In [10]:
kdf.head()

    a    b      c
10  1  100    one
20  2  200    two
30  3  300  three
40  4  400   four
50  5  500   five

In [9]:
kdf.describe()

              a           b
count  6.000000    6.000000
mean   3.500000  350.000000
std    1.870829  187.082869
min    1.000000  100.000000
25%    2.000000  200.000000
50%    3.000000  300.000000
75%    5.000000  500.000000
max    6.000000  600.000000