## DataFrameReader

### Read data for the “core” data formats (CSV, JSON, JDBC, ORC, Parquet, text and tables)

    read.csv
    read.json
    read.parquet
    read.orc
    read.text
    read.table
    read.jdbc

## Open Session

In [211]:
from pyspark.sql import SparkSession
spark = (SparkSession.builder
         .master("local")
         .appName("Spark session")
         .getOrCreate())

### CSV

In [152]:
# csv

from pyspark.sql.types import StructType, StructField
from pyspark.sql.types import DoubleType, IntegerType, StringType

schema = StructType([
    StructField("DEST_COUNTRY_NAME", StringType()),
    StructField("ORIGIN_COUNTRY_NAME", StringType()),
    StructField("count", IntegerType())
])

# or so
# schema = "DESTINATION VARCHAR(255), ORIGIN VARCHAR(255), NUM_OF_FLIGHTS DOUBLE"

df = (spark
      .read
      .option("inferShema", "true")
      .option("header", "true")
      .schema(schema)
      .csv('data/2010-summary.csv'))  # json, parquet, ocr

df.show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|    1|
|       United States|            Ireland|  264|
|       United States|              India|   69|
|               Egypt|      United States|   24|
|   Equatorial Guinea|      United States|    1|
|       United States|          Singapore|   25|
|       United States|            Grenada|   54|
|          Costa Rica|      United States|  477|
|             Senegal|      United States|   29|
|       United States|   Marshall Islands|   44|
|              Guyana|      United States|   17|
|       United States|       Sint Maarten|   53|
|               Malta|      United States|    1|
|             Bolivia|      United States|   46|
|            Anguilla|      United States|   21|
|Turks and Caicos ...|      United States|  136|
|       United States|        Afghanistan|    2|
|Saint Vincent and...|      United States|    1|
|               Italy|      United States|  390|
|       United States|             Russia|  156|
+--------------------+-------------------+-----+
only showing top 20 rows

In [153]:
df.dtypes

[('DEST_COUNTRY_NAME', 'string'),
 ('ORIGIN_COUNTRY_NAME', 'string'),
 ('count', 'int')]

In [260]:
# same with fomat load
df = (spark
      .read
      .format('csv')
      .option("inferShema", "true")
      .option("header", "true")
      .load('data/2010-summary.csv'))

df.show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|    1|
|       United States|            Ireland|  264|
|       United States|              India|   69|
|               Egypt|      United States|   24|
|   Equatorial Guinea|      United States|    1|
|       United States|          Singapore|   25|
|       United States|            Grenada|   54|
|          Costa Rica|      United States|  477|
|             Senegal|      United States|   29|
|       United States|   Marshall Islands|   44|
|              Guyana|      United States|   17|
|       United States|       Sint Maarten|   53|
|               Malta|      United States|    1|
|             Bolivia|      United States|   46|
|            Anguilla|      United States|   21|
|Turks and Caicos ...|      United States|  136|
|       United States|        Afghanistan|    2|
|Saint Vincent and...|      United States|    1|
|               Italy|      United States|  390|
|       United States|             Russia|  156|
+--------------------+-------------------+-----+
only showing top 20 rows

### JSON

In [157]:
# json
# works perfectly without options

df = (spark
      .read
      .json('data/2010-summary.json'))

df.show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|    1|
|       United States|            Ireland|  264|
|       United States|              India|   69|
|               Egypt|      United States|   24|
|   Equatorial Guinea|      United States|    1|
|       United States|          Singapore|   25|
|       United States|            Grenada|   54|
|          Costa Rica|      United States|  477|
|             Senegal|      United States|   29|
|       United States|   Marshall Islands|   44|
|              Guyana|      United States|   17|
|       United States|       Sint Maarten|   53|
|               Malta|      United States|    1|
|             Bolivia|      United States|   46|
|            Anguilla|      United States|   21|
|Turks and Caicos ...|      United States|  136|
|       United States|        Afghanistan|    2|
|Saint Vincent and...|      United States|    1|
|               Italy|      United States|  390|
|       United States|             Russia|  156|
+--------------------+-------------------+-----+
only showing top 20 rows

In [155]:
df.dtypes

[('DEST_COUNTRY_NAME', 'string'),
 ('ORIGIN_COUNTRY_NAME', 'string'),
 ('count', 'bigint')]

In [261]:
# same with 
df = (spark
      .read
      .format('json')
      .load('data/2010-summary.json'))

df.show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|    1|
|       United States|            Ireland|  264|
|       United States|              India|   69|
|               Egypt|      United States|   24|
|   Equatorial Guinea|      United States|    1|
|       United States|          Singapore|   25|
|       United States|            Grenada|   54|
|          Costa Rica|      United States|  477|
|             Senegal|      United States|   29|
|       United States|   Marshall Islands|   44|
|              Guyana|      United States|   17|
|       United States|       Sint Maarten|   53|
|               Malta|      United States|    1|
|             Bolivia|      United States|   46|
|            Anguilla|      United States|   21|
|Turks and Caicos ...|      United States|  136|
|       United States|        Afghanistan|    2|
|Saint Vincent and...|      United States|    1|
|               Italy|      United States|  390|
|       United States|             Russia|  156|
+--------------------+-------------------+-----+
only showing top 20 rows

### Parquet

The default format for Spark and the best ever

In [160]:
# parquet. The best format ever
# self defined format
# works perfectly without options

df = (spark
      .read
      .parquet('data/part-r-00000-1a9822ba-b8fb-4d8e-844a-ea30d0801b9e.gz.parquet'))

df.show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|    1|
|       United States|            Ireland|  264|
|       United States|              India|   69|
|               Egypt|      United States|   24|
|   Equatorial Guinea|      United States|    1|
|       United States|          Singapore|   25|
|       United States|            Grenada|   54|
|          Costa Rica|      United States|  477|
|             Senegal|      United States|   29|
|       United States|   Marshall Islands|   44|
|              Guyana|      United States|   17|
|       United States|       Sint Maarten|   53|
|               Malta|      United States|    1|
|             Bolivia|      United States|   46|
|            Anguilla|      United States|   21|
|Turks and Caicos ...|      United States|  136|
|       United States|        Afghanistan|    2|
|Saint Vincent and...|      United States|    1|
|               Italy|      United States|  390|
|       United States|             Russia|  156|
+--------------------+-------------------+-----+
only showing top 20 rows

In [161]:
df.dtypes

[('DEST_COUNTRY_NAME', 'string'),
 ('ORIGIN_COUNTRY_NAME', 'string'),
 ('count', 'bigint')]

### ORC

Hadoop format

In [167]:
# orc
# works perfectly without options

df = (spark
      .read
      .orc('data/part-r-00000-2c4f7d96-e703-4de3-af1b-1441d172c80f.snappy.orc'))

df.show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|    1|
|       United States|            Ireland|  264|
|       United States|              India|   69|
|               Egypt|      United States|   24|
|   Equatorial Guinea|      United States|    1|
|       United States|          Singapore|   25|
|       United States|            Grenada|   54|
|          Costa Rica|      United States|  477|
|             Senegal|      United States|   29|
|       United States|   Marshall Islands|   44|
|              Guyana|      United States|   17|
|       United States|       Sint Maarten|   53|
|               Malta|      United States|    1|
|             Bolivia|      United States|   46|
|            Anguilla|      United States|   21|
|Turks and Caicos ...|      United States|  136|
|       United States|        Afghanistan|    2|
|Saint Vincent and...|      United States|    1|
|               Italy|      United States|  390|
|       United States|             Russia|  156|
+--------------------+-------------------+-----+
only showing top 20 rows

In [166]:
df.dtypes

[('DEST_COUNTRY_NAME', 'string'),
 ('ORIGIN_COUNTRY_NAME', 'string'),
 ('count', 'bigint')]

## Text File
https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrameReader.text

In [227]:
df = (spark
      .read
      .text('data/sample_movielens_ratings.txt'))

df.show()

+--------------------+
|               value|
+--------------------+
| 0::2::3::1424380312|
| 0::3::1::1424380312|
| 0::5::2::1424380312|
| 0::9::4::1424380312|
|0::11::1::1424380312|
|0::12::2::1424380312|
|0::15::1::1424380312|
|0::17::1::1424380312|
|0::19::1::1424380312|
|0::21::1::1424380312|
|0::23::1::1424380312|
|0::26::3::1424380312|
|0::27::1::1424380312|
|0::28::1::1424380312|
|0::29::1::1424380312|
|0::30::1::1424380312|
|0::31::1::1424380312|
|0::34::1::1424380312|
|0::37::1::1424380312|
|0::41::2::1424380312|
+--------------------+
only showing top 20 rows

In [238]:
from pyspark.sql.functions import col, split

(df.withColumn("col1", split(col("value"), "::").getItem(0))
 .withColumn("col2", split(col("value"), "::").getItem(1))
 .withColumn("col3", split(col("value"), "::").getItem(2))
 .withColumn("col4", split(col("value"), "::").getItem(3))
 .drop("value")
 .show())

+----+----+----+----------+
|col1|col2|col3|      col4|
+----+----+----+----------+
|   0|   2|   3|1424380312|
|   0|   3|   1|1424380312|
|   0|   5|   2|1424380312|
|   0|   9|   4|1424380312|
|   0|  11|   1|1424380312|
|   0|  12|   2|1424380312|
|   0|  15|   1|1424380312|
|   0|  17|   1|1424380312|
|   0|  19|   1|1424380312|
|   0|  21|   1|1424380312|
|   0|  23|   1|1424380312|
|   0|  26|   3|1424380312|
|   0|  27|   1|1424380312|
|   0|  28|   1|1424380312|
|   0|  29|   1|1424380312|
|   0|  30|   1|1424380312|
|   0|  31|   1|1424380312|
|   0|  34|   1|1424380312|
|   0|  37|   1|1424380312|
|   0|  41|   2|1424380312|
+----+----+----+----------+
only showing top 20 rows

In [250]:
# using rdd
rdd = (spark.sparkContext.textFile('data/sample_movielens_ratings.txt'))

df = rdd.map(lambda x: x.split("::")).toDF().show()

+---+---+---+----------+
| _1| _2| _3|        _4|
+---+---+---+----------+
|  0|  2|  3|1424380312|
|  0|  3|  1|1424380312|
|  0|  5|  2|1424380312|
|  0|  9|  4|1424380312|
|  0| 11|  1|1424380312|
|  0| 12|  2|1424380312|
|  0| 15|  1|1424380312|
|  0| 17|  1|1424380312|
|  0| 19|  1|1424380312|
|  0| 21|  1|1424380312|
|  0| 23|  1|1424380312|
|  0| 26|  3|1424380312|
|  0| 27|  1|1424380312|
|  0| 28|  1|1424380312|
|  0| 29|  1|1424380312|
|  0| 30|  1|1424380312|
|  0| 31|  1|1424380312|
|  0| 34|  1|1424380312|
|  0| 37|  1|1424380312|
|  0| 41|  2|1424380312|
+---+---+---+----------+
only showing top 20 rows

## Table

In [258]:
df = (spark
      .read
      .parquet('data/part-r-00000-1a9822ba-b8fb-4d8e-844a-ea30d0801b9e.gz.parquet'))
df.createOrReplaceTempView('tmpTable')

###
spark.read.table('tmpTable').show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|    1|
|       United States|            Ireland|  264|
|       United States|              India|   69|
|               Egypt|      United States|   24|
|   Equatorial Guinea|      United States|    1|
|       United States|          Singapore|   25|
|       United States|            Grenada|   54|
|          Costa Rica|      United States|  477|
|             Senegal|      United States|   29|
|       United States|   Marshall Islands|   44|
|              Guyana|      United States|   17|
|       United States|       Sint Maarten|   53|
|               Malta|      United States|    1|
|             Bolivia|      United States|   46|
|            Anguilla|      United States|   21|
|Turks and Caicos ...|      United States|  136|
|       United States|        Afghanistan|    2|
|Saint Vincent and...|      United States|    1|
|               Italy|      United States|  390|
|       United States|             Russia|  156|
+--------------------+-------------------+-----+
only showing top 20 rows

## Read non-core formats

See for example how to read AVRO:
https://spark.apache.org/docs/latest/sql-data-sources-avro.html

In [266]:
%%writefile pyfiles/avro_read.py

from pyspark.sql import SparkSession

spark = (SparkSession.builder
         .master("local")
         .appName("Spark session")
         .getOrCreate())

spark.read.format("avro").load("data/userdata1.avro").show()

spark.stop()

Writing pyfiles/avro_read.py

In [1]:
! spark-submit \
--packages org.apache.spark:spark-avro_2.11:2.4.3 \
pyfiles/avro_read.py

Ivy Default Cache set to: /Users/esn/.ivy2/cache
The jars for the packages stored in: /Users/esn/.ivy2/jars
:: loading settings :: url = jar:file:/Users/esn/anaconda3/lib/python3.7/site-packages/pyspark/jars/ivy-2.4.0.jar!/org/apache/ivy/core/settings/ivysettings.xml
org.apache.spark#spark-avro_2.11 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-beb05846-0d02-4f34-83ec-c5fbe70be759;1.0
	confs: [default]
	found org.apache.spark#spark-avro_2.11;2.4.3 in central
	found org.spark-project.spark#unused;1.0.0 in central
:: resolution report :: resolve 349ms :: artifacts dl 12ms
	:: modules in use:
	org.apache.spark#spark-avro_2.11;2.4.3 from central in [default]
	org.spark-project.spark#unused;1.0.0 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   2   |   0   |   0   |   0   ||   2   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-beb05846-0d02-4f34-83ec-c5fbe70be759
	confs: [default]
	0 artifacts copied, 2 already retrieved (0kB/28ms)
19/09/29 23:07:57 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
19/09/29 23:07:58 INFO SparkContext: Running Spark version 2.4.4
19/09/29 23:07:58 INFO SparkContext: Submitted application: Spark session
19/09/29 23:07:58 INFO SecurityManager: Changing view acls to: esn
19/09/29 23:07:58 INFO SecurityManager: Changing modify acls to: esn
19/09/29 23:07:58 INFO SecurityManager: Changing view acls groups to:
19/09/29 23:07:58 INFO SecurityManager: Changing modify acls groups to:
19/09/29 23:07:58 INFO SecurityManager: SecurityManager: authentication disabled; ui acls disabled; users  with view permissions: Set(esn); groups with view permissions: Set(); users  with modify permissions: Set(esn); groups with modify permissions: Set()
19/09/29 23:08:04 INFO Utils: Successfully started service 'sparkDriver' on port 65306.
19/09/29 23:08:04 INFO SparkEnv: Registering MapOutputTracker
19/09/29 23:08:04 INFO SparkEnv: Registering BlockManagerMaster
19/09/29 23:08:04 INFO BlockManagerMasterEndpoint: Using org.apache.spark.storage.DefaultTopologyMapper for getting topology information
19/09/29 23:08:04 INFO BlockManagerMasterEndpoint: BlockManagerMasterEndpoint up
19/09/29 23:08:04 INFO DiskBlockManager: Created local directory at /private/var/folders/p5/qthc5m9n0_d5r5k983p9s69m0000gn/T/blockmgr-a57c3dde-2300-43f9-b11c-db6723032c43
19/09/29 23:08:04 INFO MemoryStore: MemoryStore started with capacity 366.3 MB
19/09/29 23:08:04 INFO SparkEnv: Registering OutputCommitCoordinator
19/09/29 23:08:04 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
19/09/29 23:08:04 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
19/09/29 23:08:04 INFO Utils: Successfully started service 'SparkUI' on port 4042.
19/09/29 23:08:04 INFO SparkUI: Bound SparkUI to 0.0.0.0, and started at http://192.168.3.105:4042
19/09/29 23:08:04 INFO SparkContext: Added JAR file:///Users/esn/.ivy2/jars/org.apache.spark_spark-avro_2.11-2.4.3.jar at spark://192.168.3.105:65306/jars/org.apache.spark_spark-avro_2.11-2.4.3.jar with timestamp 1569791284533
19/09/29 23:08:04 INFO SparkContext: Added JAR file:///Users/esn/.ivy2/jars/org.spark-project.spark_unused-1.0.0.jar at spark://192.168.3.105:65306/jars/org.spark-project.spark_unused-1.0.0.jar with timestamp 1569791284534
19/09/29 23:08:04 INFO SparkContext: Added file file:///Users/esn/.ivy2/jars/org.apache.spark_spark-avro_2.11-2.4.3.jar at file:///Users/esn/.ivy2/jars/org.apache.spark_spark-avro_2.11-2.4.3.jar with timestamp 1569791284588
19/09/29 23:08:04 INFO Utils: Copying /Users/esn/.ivy2/jars/org.apache.spark_spark-avro_2.11-2.4.3.jar to /private/var/folders/p5/qthc5m9n0_d5r5k983p9s69m0000gn/T/spark-73de1c97-8ddd-4647-b8af-f93383578e6b/userFiles-ed7302fb-974e-4014-895f-aa1e212fc606/org.apache.spark_spark-avro_2.11-2.4.3.jar
19/09/29 23:08:04 INFO SparkContext: Added file file:///Users/esn/.ivy2/jars/org.spark-project.spark_unused-1.0.0.jar at file:///Users/esn/.ivy2/jars/org.spark-project.spark_unused-1.0.0.jar with timestamp 1569791284622
19/09/29 23:08:04 INFO Utils: Copying /Users/esn/.ivy2/jars/org.spark-project.spark_unused-1.0.0.jar to /private/var/folders/p5/qthc5m9n0_d5r5k983p9s69m0000gn/T/spark-73de1c97-8ddd-4647-b8af-f93383578e6b/userFiles-ed7302fb-974e-4014-895f-aa1e212fc606/org.spark-project.spark_unused-1.0.0.jar
19/09/29 23:08:04 INFO Executor: Starting executor ID driver on host localhost
19/09/29 23:08:04 INFO Utils: Successfully started service 'org.apache.spark.network.netty.NettyBlockTransferService' on port 65307.
19/09/29 23:08:04 INFO NettyBlockTransferService: Server created on 192.168.3.105:65307
19/09/29 23:08:04 INFO BlockManager: Using org.apache.spark.storage.RandomBlockReplicationPolicy for block replication policy
19/09/29 23:08:04 INFO BlockManagerMaster: Registering BlockManager BlockManagerId(driver, 192.168.3.105, 65307, None)
19/09/29 23:08:04 INFO BlockManagerMasterEndpoint: Registering block manager 192.168.3.105:65307 with 366.3 MB RAM, BlockManagerId(driver, 192.168.3.105, 65307, None)
19/09/29 23:08:04 INFO BlockManagerMaster: Registered BlockManager BlockManagerId(driver, 192.168.3.105, 65307, None)
19/09/29 23:08:04 INFO BlockManager: Initialized BlockManager: BlockManagerId(driver, 192.168.3.105, 65307, None)
19/09/29 23:08:05 INFO SharedState: Setting hive.metastore.warehouse.dir ('null') to the value of spark.sql.warehouse.dir ('file:/Users/esn/repos/awesomepy-notebooks/spark/spark-warehouse/').
19/09/29 23:08:05 INFO SharedState: Warehouse path is 'file:/Users/esn/repos/awesomepy-notebooks/spark/spark-warehouse/'.
19/09/29 23:08:06 INFO StateStoreCoordinatorRef: Registered StateStoreCoordinator endpoint
19/09/29 23:08:09 INFO FileSourceStrategy: Pruning directories with:
19/09/29 23:08:09 INFO FileSourceStrategy: Post-Scan Filters:
19/09/29 23:08:09 INFO FileSourceStrategy: Output Data Schema: struct<registration_dttm: string, id: bigint, first_name: string, last_name: string, email: string ... 11 more fields>
19/09/29 23:08:09 INFO FileSourceScanExec: Pushed Filters:
19/09/29 23:08:09 INFO CodeGenerator: Code generated in 402.031339 ms
19/09/29 23:08:10 INFO CodeGenerator: Code generated in 58.929925 ms
19/09/29 23:08:10 INFO MemoryStore: Block broadcast_0 stored as values in memory (estimated size 278.9 KB, free 366.0 MB)
19/09/29 23:08:10 INFO MemoryStore: Block broadcast_0_piece0 stored as bytes in memory (estimated size 23.6 KB, free 366.0 MB)
19/09/29 23:08:10 INFO BlockManagerInfo: Added broadcast_0_piece0 in memory on 192.168.3.105:65307 (size: 23.6 KB, free: 366.3 MB)
19/09/29 23:08:10 INFO SparkContext: Created broadcast 0 from showString at NativeMethodAccessorImpl.java:0
19/09/29 23:08:10 INFO FileSourceScanExec: Planning scan with bin packing, max size: 4287865 bytes, open cost is considered as scanning 4194304 bytes.
19/09/29 23:08:10 INFO SparkContext: Starting job: showString at NativeMethodAccessorImpl.java:0
19/09/29 23:08:10 INFO DAGScheduler: Got job 0 (showString at NativeMethodAccessorImpl.java:0) with 1 output partitions
19/09/29 23:08:10 INFO DAGScheduler: Final stage: ResultStage 0 (showString at NativeMethodAccessorImpl.java:0)
19/09/29 23:08:10 INFO DAGScheduler: Parents of final stage: List()
19/09/29 23:08:10 INFO DAGScheduler: Missing parents: List()
19/09/29 23:08:10 INFO DAGScheduler: Submitting ResultStage 0 (MapPartitionsRDD[3] at showString at NativeMethodAccessorImpl.java:0), which has no missing parents
19/09/29 23:08:10 INFO MemoryStore: Block broadcast_1 stored as values in memory (estimated size 12.6 KB, free 366.0 MB)
19/09/29 23:08:10 INFO MemoryStore: Block broadcast_1_piece0 stored as bytes in memory (estimated size 5.4 KB, free 366.0 MB)
19/09/29 23:08:10 INFO BlockManagerInfo: Added broadcast_1_piece0 in memory on 192.168.3.105:65307 (size: 5.4 KB, free: 366.3 MB)
19/09/29 23:08:10 INFO SparkContext: Created broadcast 1 from broadcast at DAGScheduler.scala:1161
19/09/29 23:08:10 INFO DAGScheduler: Submitting 1 missing tasks from ResultStage 0 (MapPartitionsRDD[3] at showString at NativeMethodAccessorImpl.java:0) (first 15 tasks are for partitions Vector(0))
19/09/29 23:08:10 INFO TaskSchedulerImpl: Adding task set 0.0 with 1 tasks
19/09/29 23:08:10 INFO TaskSetManager: Starting task 0.0 in stage 0.0 (TID 0, localhost, executor driver, partition 0, PROCESS_LOCAL, 8285 bytes)
19/09/29 23:08:10 INFO Executor: Running task 0.0 in stage 0.0 (TID 0)
19/09/29 23:08:10 INFO Executor: Fetching file:///Users/esn/.ivy2/jars/org.apache.spark_spark-avro_2.11-2.4.3.jar with timestamp 1569791284588
19/09/29 23:08:10 INFO Utils: /Users/esn/.ivy2/jars/org.apache.spark_spark-avro_2.11-2.4.3.jar has been previously copied to /private/var/folders/p5/qthc5m9n0_d5r5k983p9s69m0000gn/T/spark-73de1c97-8ddd-4647-b8af-f93383578e6b/userFiles-ed7302fb-974e-4014-895f-aa1e212fc606/org.apache.spark_spark-avro_2.11-2.4.3.jar
19/09/29 23:08:10 INFO Executor: Fetching file:///Users/esn/.ivy2/jars/org.spark-project.spark_unused-1.0.0.jar with timestamp 1569791284622
19/09/29 23:08:10 INFO Utils: /Users/esn/.ivy2/jars/org.spark-project.spark_unused-1.0.0.jar has been previously copied to /private/var/folders/p5/qthc5m9n0_d5r5k983p9s69m0000gn/T/spark-73de1c97-8ddd-4647-b8af-f93383578e6b/userFiles-ed7302fb-974e-4014-895f-aa1e212fc606/org.spark-project.spark_unused-1.0.0.jar
19/09/29 23:08:10 INFO Executor: Fetching spark://192.168.3.105:65306/jars/org.apache.spark_spark-avro_2.11-2.4.3.jar with timestamp 1569791284533
19/09/29 23:08:10 INFO TransportClientFactory: Successfully created connection to /192.168.3.105:65306 after 72 ms (0 ms spent in bootstraps)
19/09/29 23:08:10 INFO Utils: Fetching spark://192.168.3.105:65306/jars/org.apache.spark_spark-avro_2.11-2.4.3.jar to /private/var/folders/p5/qthc5m9n0_d5r5k983p9s69m0000gn/T/spark-73de1c97-8ddd-4647-b8af-f93383578e6b/userFiles-ed7302fb-974e-4014-895f-aa1e212fc606/fetchFileTemp1375254704194608085.tmp
19/09/29 23:08:11 INFO Utils: /private/var/folders/p5/qthc5m9n0_d5r5k983p9s69m0000gn/T/spark-73de1c97-8ddd-4647-b8af-f93383578e6b/userFiles-ed7302fb-974e-4014-895f-aa1e212fc606/fetchFileTemp1375254704194608085.tmp has been previously copied to /private/var/folders/p5/qthc5m9n0_d5r5k983p9s69m0000gn/T/spark-73de1c97-8ddd-4647-b8af-f93383578e6b/userFiles-ed7302fb-974e-4014-895f-aa1e212fc606/org.apache.spark_spark-avro_2.11-2.4.3.jar
19/09/29 23:08:11 INFO Executor: Adding file:/private/var/folders/p5/qthc5m9n0_d5r5k983p9s69m0000gn/T/spark-73de1c97-8ddd-4647-b8af-f93383578e6b/userFiles-ed7302fb-974e-4014-895f-aa1e212fc606/org.apache.spark_spark-avro_2.11-2.4.3.jar to class loader
19/09/29 23:08:11 INFO Executor: Fetching spark://192.168.3.105:65306/jars/org.spark-project.spark_unused-1.0.0.jar with timestamp 1569791284534
19/09/29 23:08:11 INFO Utils: Fetching spark://192.168.3.105:65306/jars/org.spark-project.spark_unused-1.0.0.jar to /private/var/folders/p5/qthc5m9n0_d5r5k983p9s69m0000gn/T/spark-73de1c97-8ddd-4647-b8af-f93383578e6b/userFiles-ed7302fb-974e-4014-895f-aa1e212fc606/fetchFileTemp5403731714215959945.tmp
19/09/29 23:08:11 INFO Utils: /private/var/folders/p5/qthc5m9n0_d5r5k983p9s69m0000gn/T/spark-73de1c97-8ddd-4647-b8af-f93383578e6b/userFiles-ed7302fb-974e-4014-895f-aa1e212fc606/fetchFileTemp5403731714215959945.tmp has been previously copied to /private/var/folders/p5/qthc5m9n0_d5r5k983p9s69m0000gn/T/spark-73de1c97-8ddd-4647-b8af-f93383578e6b/userFiles-ed7302fb-974e-4014-895f-aa1e212fc606/org.spark-project.spark_unused-1.0.0.jar
19/09/29 23:08:11 INFO Executor: Adding file:/private/var/folders/p5/qthc5m9n0_d5r5k983p9s69m0000gn/T/spark-73de1c97-8ddd-4647-b8af-f93383578e6b/userFiles-ed7302fb-974e-4014-895f-aa1e212fc606/org.spark-project.spark_unused-1.0.0.jar to class loader
19/09/29 23:08:11 INFO FileScanRDD: Reading File path: file:///Users/esn/repos/awesomepy-notebooks/spark/data/userdata1.avro, range: 0-93561, partition values: [empty row]
19/09/29 23:08:11 INFO CodeGenerator: Code generated in 107.060963 ms
19/09/29 23:08:11 INFO Executor: Finished task 0.0 in stage 0.0 (TID 0). 4853 bytes result sent to driver
19/09/29 23:08:11 INFO TaskSetManager: Finished task 0.0 in stage 0.0 (TID 0) in 829 ms on localhost (executor driver) (1/1)
19/09/29 23:08:11 INFO TaskSchedulerImpl: Removed TaskSet 0.0, whose tasks have all completed, from pool
19/09/29 23:08:11 INFO DAGScheduler: ResultStage 0 (showString at NativeMethodAccessorImpl.java:0) finished in 1.022 s
19/09/29 23:08:11 INFO DAGScheduler: Job 0 finished: showString at NativeMethodAccessorImpl.java:0, took 1.116264 s
+--------------------+---+----------+---------+--------------------+------+---------------+-------------------+--------------------+----------+---------+--------------------+--------------------+
|   registration_dttm| id|first_name|last_name|               email|gender|     ip_address|                 cc|             country| birthdate|   salary|               title|            comments|
+--------------------+---+----------+---------+--------------------+------+---------------+-------------------+--------------------+----------+---------+--------------------+--------------------+
|2016-02-03T07:55:29Z|  1|    Amanda|   Jordan|    ajordan0@com.com|Female|    1.197.201.2|   6759521864920116|           Indonesia|  3/8/1971| 49756.53|    Internal Auditor|               1E+02|
|2016-02-03T17:04:03Z|  2|    Albert|  Freeman|     afreeman1@is.gd|  Male| 218.111.175.34|               null|              Canada| 1/16/1968|150280.17|       Accountant IV|                    |
|2016-02-03T01:09:31Z|  3|    Evelyn|   Morgan|emorgan2@altervis...|Female|   7.161.136.94|   6767119071901597|              Russia|  2/1/1960|144972.51| Structural Engineer|                    |
|2016-02-03T12:36:21Z|  4|    Denise|    Riley|    driley3@gmpg.org|Female|  140.35.109.83|   3576031598965625|               China|  4/8/1997| 90263.05|Senior Cost Accou...|                    |
|2016-02-03T05:05:31Z|  5|    Carlos|    Burns|cburns4@miitbeian...|      | 169.113.235.40|   5602256255204850|        South Africa|          |     null|                    |                    |
|2016-02-03T07:22:34Z|  6|   Kathryn|    White|  kwhite5@google.com|Female| 195.131.81.179|   3583136326049310|           Indonesia| 2/25/1983| 69227.11|   Account Executive|                    |
|2016-02-03T08:33:08Z|  7|    Samuel|   Holmes|sholmes6@foxnews.com|  Male| 232.234.81.197|   3582641366974690|            Portugal|12/18/1987| 14247.62|Senior Financial ...|                    |
|2016-02-03T06:47:06Z|  8|     Harry|   Howell| hhowell7@eepurl.com|  Male|   91.235.51.73|               null|Bosnia and Herzeg...|  3/1/1962|186469.43|    Web Developer IV|                    |
|2016-02-03T03:52:53Z|  9|      Jose|   Foster|   jfoster8@yelp.com|  Male|   132.31.53.61|               null|         South Korea| 3/27/1992|231067.84|Software Test Eng...|               1E+02|
|2016-02-03T18:29:47Z| 10|     Emily|  Stewart|estewart9@opensou...|Female| 143.28.251.245|   3574254110301671|             Nigeria| 1/28/1997| 27234.28|     Health Coach IV|                    |
|2016-02-03T12:10:42Z| 11|     Susan|  Perkins| sperkinsa@patch.com|Female|    180.85.0.62|   3573823609854134|              Russia|          |210001.95|                    |                    |
|2016-02-03T18:04:34Z| 12|     Alice|    Berry|aberryb@wikipedia...|Female| 246.225.12.189|   4917830851454417|               China| 8/12/1968| 22944.53|    Quality Engineer|                    |
|2016-02-03T18:48:17Z| 13|    Justin|    Berry|jberryc@usatoday.com|  Male|   157.7.146.43|6331109912871813274|              Zambia| 8/15/1975| 44165.46|Structural Analys...|                    |
|2016-02-03T21:46:52Z| 14|     Kathy| Reynolds|kreynoldsd@redcro...|Female|  81.254.172.13|   5537178462965976|Bosnia and Herzeg...| 6/27/1970|286592.99|           Librarian|                    |
|2016-02-03T08:53:23Z| 15|   Dorothy|   Hudson|dhudsone@blogger.com|Female|       8.59.7.0|   3542586858224170|               Japan|12/20/1989|157099.71|  Nurse Practicioner|<script>alert('hi...|
|2016-02-03T00:44:01Z| 16|     Bruce|   Willis|bwillisf@bluehost...|  Male|239.182.219.189|   3573030625927601|              Brazil|          |239100.65|                    |                    |
|2016-02-03T00:57:45Z| 17|     Emily|  Andrews|eandrewsg@cornell...|Female| 29.231.180.172|     30271790537626|              Russia| 4/13/1990|116800.65|        Food Chemist|                    |
|2016-02-03T16:44:24Z| 18|   Stephen|  Wallace|swallaceh@netvibe...|  Male|  152.49.213.62|   5433943468526428|             Ukraine| 1/15/1978|248877.99|Account Represent...|                    |
|2016-02-03T11:45:54Z| 19|  Clarence|   Lawson|clawsoni@vkontakt...|  Male| 107.175.15.152|   3544052814080964|              Russia|          |177122.99|                    |                    |
|2016-02-03T10:30:36Z| 20|   Rebecca|     Bell| rbellj@bandcamp.com|Female|172.215.104.127|               null|               China|          |137251.19|                    |                    |
+--------------------+---+----------+---------+--------------------+------+---------------+-------------------+--------------------+----------+---------+--------------------+--------------------+
only showing top 20 rows

19/09/29 23:08:11 INFO SparkUI: Stopped Spark web UI at http://192.168.3.105:4042
19/09/29 23:08:11 INFO MapOutputTrackerMasterEndpoint: MapOutputTrackerMasterEndpoint stopped!
19/09/29 23:08:11 INFO MemoryStore: MemoryStore cleared
19/09/29 23:08:11 INFO BlockManager: BlockManager stopped
19/09/29 23:08:11 INFO BlockManagerMaster: BlockManagerMaster stopped
19/09/29 23:08:11 INFO OutputCommitCoordinator$OutputCommitCoordinatorEndpoint: OutputCommitCoordinator stopped!
19/09/29 23:08:11 INFO SparkContext: Successfully stopped SparkContext
19/09/29 23:08:12 INFO ShutdownHookManager: Shutdown hook called
19/09/29 23:08:12 INFO ShutdownHookManager: Deleting directory /private/var/folders/p5/qthc5m9n0_d5r5k983p9s69m0000gn/T/spark-73de1c97-8ddd-4647-b8af-f93383578e6b/pyspark-aa39f3a3-6ce2-4867-93f8-d9263cdfdd39
19/09/29 23:08:12 INFO ShutdownHookManager: Deleting directory /private/var/folders/p5/qthc5m9n0_d5r5k983p9s69m0000gn/T/spark-fde62905-a45a-4098-8a74-665f7bc3ca71
19/09/29 23:08:12 INFO ShutdownHookManager: Deleting directory /private/var/folders/p5/qthc5m9n0_d5r5k983p9s69m0000gn/T/spark-73de1c97-8ddd-4647-b8af-f93383578e6b

# Close Session

In [ ]:
spark.stop()

### JDBC

All installed jars can be found here:

    ll /Users/esn/anaconda3/lib/python3.7/site-packages/pyspark/jars/*

In [209]:
%%writefile pyfiles/jdbc_read.py

from pyspark.sql import SparkSession

spark = (SparkSession.builder
         .master("local")
         .appName("Spark session")
         .getOrCreate())

spark.sparkContext.setLogLevel('ERROR')

spark.read.format('jdbc').\
options(url='jdbc:sqlite:data/my-sqlite.db',\
dbtable='flight_info',driver='org.sqlite.JDBC').load().show()

spark.stop()

Overwriting pyfiles/jdbc_read.py

In [210]:
! spark-submit \
--driver-class-path drivers/sqlite-jdbc-3.15.1.jar \
--jars drivers/sqlite-jdbc-3.15.1.jar \
pyfiles/jdbc_read.py

19/09/25 21:29:06 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
19/09/25 21:29:08 INFO SparkContext: Running Spark version 2.4.4
19/09/25 21:29:08 INFO SparkContext: Submitted application: Spark session
19/09/25 21:29:08 INFO SecurityManager: Changing view acls to: esn
19/09/25 21:29:08 INFO SecurityManager: Changing modify acls to: esn
19/09/25 21:29:08 INFO SecurityManager: Changing view acls groups to:
19/09/25 21:29:08 INFO SecurityManager: Changing modify acls groups to:
19/09/25 21:29:08 INFO SecurityManager: SecurityManager: authentication disabled; ui acls disabled; users  with view permissions: Set(esn); groups with view permissions: Set(); users  with modify permissions: Set(esn); groups with modify permissions: Set()
19/09/25 21:29:13 INFO Utils: Successfully started service 'sparkDriver' on port 54418.
19/09/25 21:29:13 INFO SparkEnv: Registering MapOutputTracker
19/09/25 21:29:13 INFO SparkEnv: Registering BlockManagerMaster
19/09/25 21:29:13 INFO BlockManagerMasterEndpoint: Using org.apache.spark.storage.DefaultTopologyMapper for getting topology information
19/09/25 21:29:13 INFO BlockManagerMasterEndpoint: BlockManagerMasterEndpoint up
19/09/25 21:29:13 INFO DiskBlockManager: Created local directory at /private/var/folders/p5/qthc5m9n0_d5r5k983p9s69m0000gn/T/blockmgr-d642419a-fd59-4ecc-899e-bfd21683ab1a
19/09/25 21:29:13 INFO MemoryStore: MemoryStore started with capacity 366.3 MB
19/09/25 21:29:13 INFO SparkEnv: Registering OutputCommitCoordinator
19/09/25 21:29:14 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
19/09/25 21:29:14 INFO Utils: Successfully started service 'SparkUI' on port 4041.
19/09/25 21:29:14 INFO SparkUI: Bound SparkUI to 0.0.0.0, and started at http://192.168.3.105:4041
19/09/25 21:29:14 INFO SparkContext: Added JAR file:///Users/esn/repos/awesomepy-notebooks/spark/drivers/sqlite-jdbc-3.15.1.jar at spark://192.168.3.105:54418/jars/sqlite-jdbc-3.15.1.jar with timestamp 1569439754185
19/09/25 21:29:14 INFO Executor: Starting executor ID driver on host localhost
19/09/25 21:29:14 INFO Utils: Successfully started service 'org.apache.spark.network.netty.NettyBlockTransferService' on port 54419.
19/09/25 21:29:14 INFO NettyBlockTransferService: Server created on 192.168.3.105:54419
19/09/25 21:29:14 INFO BlockManager: Using org.apache.spark.storage.RandomBlockReplicationPolicy for block replication policy
19/09/25 21:29:14 INFO BlockManagerMaster: Registering BlockManager BlockManagerId(driver, 192.168.3.105, 54419, None)
19/09/25 21:29:14 INFO BlockManagerMasterEndpoint: Registering block manager 192.168.3.105:54419 with 366.3 MB RAM, BlockManagerId(driver, 192.168.3.105, 54419, None)
19/09/25 21:29:14 INFO BlockManagerMaster: Registered BlockManager BlockManagerId(driver, 192.168.3.105, 54419, None)
19/09/25 21:29:14 INFO BlockManager: Initialized BlockManager: BlockManagerId(driver, 192.168.3.105, 54419, None)
19/09/25 21:29:15 INFO SharedState: Setting hive.metastore.warehouse.dir ('null') to the value of spark.sql.warehouse.dir ('file:/Users/esn/repos/awesomepy-notebooks/spark/spark-warehouse').
19/09/25 21:29:15 INFO SharedState: Warehouse path is 'file:/Users/esn/repos/awesomepy-notebooks/spark/spark-warehouse'.
19/09/25 21:29:16 INFO StateStoreCoordinatorRef: Registered StateStoreCoordinator endpoint
+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|    1|
|       United States|            Ireland|  264|
|       United States|              India|   69|
|               Egypt|      United States|   24|
|   Equatorial Guinea|      United States|    1|
|       United States|          Singapore|   25|
|       United States|            Grenada|   54|
|          Costa Rica|      United States|  477|
|             Senegal|      United States|   29|
|       United States|   Marshall Islands|   44|
|              Guyana|      United States|   17|
|       United States|       Sint Maarten|   53|
|               Malta|      United States|    1|
|             Bolivia|      United States|   46|
|            Anguilla|      United States|   21|
|Turks and Caicos ...|      United States|  136|
|       United States|        Afghanistan|    2|
|Saint Vincent and...|      United States|    1|
|               Italy|      United States|  390|
|       United States|             Russia|  156|
+--------------------+-------------------+-----+
only showing top 20 rows

## DDL formatted schema

In [268]:
schema = "DESTINATION VARCHAR(255), ORIGIN VARCHAR(255), NUM_OF_FLIGHTS DOUBLE"

df = (spark
      .read
      .option("inferShema", "true")
      .option("header", "true")
      .schema(schema)
      .csv('data/2010-summary.csv'))

df.show()

+--------------------+----------------+--------------+
|         DESTINATION|          ORIGIN|NUM_OF_FLIGHTS|
+--------------------+----------------+--------------+
|       United States|         Romania|           1.0|
|       United States|         Ireland|         264.0|
|       United States|           India|          69.0|
|               Egypt|   United States|          24.0|
|   Equatorial Guinea|   United States|           1.0|
|       United States|       Singapore|          25.0|
|       United States|         Grenada|          54.0|
|          Costa Rica|   United States|         477.0|
|             Senegal|   United States|          29.0|
|       United States|Marshall Islands|          44.0|
|              Guyana|   United States|          17.0|
|       United States|    Sint Maarten|          53.0|
|               Malta|   United States|           1.0|
|             Bolivia|   United States|          46.0|
|            Anguilla|   United States|          21.0|
|Turks and Caicos ...|   United States|         136.0|
|       United States|     Afghanistan|           2.0|
|Saint Vincent and...|   United States|           1.0|
|               Italy|   United States|         390.0|
|       United States|          Russia|         156.0|
+--------------------+----------------+--------------+
only showing top 20 rows

In [269]:
df.printSchema()

root
 |-- DESTINATION: string (nullable = true)
 |-- ORIGIN: string (nullable = true)
 |-- NUM_OF_FLIGHTS: double (nullable = true)

In [270]:
df.describe().show()

+-------+-----------+-----------+------------------+
|summary|DESTINATION|     ORIGIN|    NUM_OF_FLIGHTS|
+-------+-----------+-----------+------------------+
|  count|        255|        255|               255|
|   mean|       null|       null| 1655.956862745098|
| stddev|       null|       null|21801.481975969557|
|    min|Afghanistan|Afghanistan|               1.0|
|    max|    Vietnam|    Vietnam|          348113.0|
+-------+-----------+-----------+------------------+

## How to construct and specify a schema using the StructType classes

In [272]:
from pyspark.sql.types import StructType, StructField
from pyspark.sql.types import DoubleType, IntegerType, StringType

schema = StructType([
    StructField("DEST_COUNTRY_NAME", StringType()),
    StructField("ORIGIN_COUNTRY_NAME", StringType()),
    StructField("count", IntegerType())
])

df = (spark
      .read
      .option("header", "true")
      .schema(schema)
      .csv('data/2010-summary.csv'))  # json, parquet, ocr

df.show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|    1|
|       United States|            Ireland|  264|
|       United States|              India|   69|
|               Egypt|      United States|   24|
|   Equatorial Guinea|      United States|    1|
|       United States|          Singapore|   25|
|       United States|            Grenada|   54|
|          Costa Rica|      United States|  477|
|             Senegal|      United States|   29|
|       United States|   Marshall Islands|   44|
|              Guyana|      United States|   17|
|       United States|       Sint Maarten|   53|
|               Malta|      United States|    1|
|             Bolivia|      United States|   46|
|            Anguilla|      United States|   21|
|Turks and Caicos ...|      United States|  136|
|       United States|        Afghanistan|    2|
|Saint Vincent and...|      United States|    1|
|               Italy|      United States|  390|
|       United States|             Russia|  156|
+--------------------+-------------------+-----+
only showing top 20 rows

In [273]:
df.printSchema()

root
 |-- DEST_COUNTRY_NAME: string (nullable = true)
 |-- ORIGIN_COUNTRY_NAME: string (nullable = true)
 |-- count: integer (nullable = true)

## Close Session

In [174]:
spark.stop()