# Pandas Series

## Import Module

In [49]:
import pandas as pd
import numpy as np

Basic object types in Pandas are Series and Data Frames. Series are one-dimensional arrays, whereas data frames are tables.

## Constructor

Create a series object from an array-like object:

In [79]:
pd.Series([1, 2., None, 4.0, 5.1, 6, 7.2], name='demo_series', index=[1, 2, 3, 4, 5, 6, 7])

1    1.0
2    2.0
3    NaN
4    4.0
5    5.1
6    6.0
7    7.2
Name: demo_series, dtype: float64

## Create from Scalar

In [51]:
pd.Series(5, index=['a', 'b', 'c', 'd', 'e', 'f'])

a    5
b    5
c    5
d    5
e    5
f    5
dtype: int64

## Create from List

In [52]:
lst = [1, 2, 3, 4, 5]
pd.Series(lst)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [53]:
# define custom lables
pd.Series(lst, index=['a', 'b', 'c', 'd', 'e'])

a    1
b    2
c    3
d    4
e    5
dtype: int64

## Create from Numpy Array

In [54]:
arr = np.array([1, 2, 3, 4, 5])
pd.Series(arr)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [55]:
# define custom lables
pd.Series(arr, index=['a', 'b', 'c', 'd', 'e'])

a    1
b    2
c    3
d    4
e    5
dtype: int64

## Create from Dictionary

In [56]:
dic = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
pd.Series(dic)

a    1
b    2
c    3
d    4
e    5
dtype: int64

## Create from DateTime Series

In [57]:
# create index
idx = pd.date_range('2019-01-01', periods=5, freq='D')
idx

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05'],
              dtype='datetime64[ns]', freq='D')

In [58]:
pd.Series([1, 2, 3, 4, 5], index=idx)

2019-01-01    1
2019-01-02    2
2019-01-03    3
2019-01-04    4
2019-01-05    5
Freq: D, dtype: int64

## Series Data Types

### Integer

In [59]:
# integer
pd.Series([1, 2, 3])

0    1
1    2
2    3
dtype: int64

### Float

In [60]:
# float
pd.Series([1., 2., 3.])

0    1.0
1    2.0
2    3.0
dtype: float64

### Object

In [61]:
# object
pd.Series(['1', '2', '3'])

0    1
1    2
2    3
dtype: object

### Boolean

In [62]:
# bool
pd.Series([True, False, True])

0     True
1    False
2     True
dtype: bool

### Datetime

In [76]:
# datetime
from datetime import datetime
pd.Series([datetime(2019,1,1), datetime(2019,2,1), datetime(2019,3,1)])

0   2019-01-01
1   2019-02-01
2   2019-03-01
dtype: datetime64[ns]

### Timedelta

In [78]:
# timedaltas
from datetime import timedelta
pd.Series([timedelta(days=10), timedelta(days=20), timedelta(days=30)])

0   10 days
1   20 days
2   30 days
dtype: timedelta64[ns]