# Binary Operation Functions

## Setup
Please do not change the setup to let the notebook work properly. Feel free to experiment with other cells.

In [86]:
import pandas as pd

In [87]:
s1 = pd.Series([1, 2, 3, None, 3, 0, 2.3])
s2 = pd.Series([1, -1, 2, 2, None, 0, 3.])

### Basic Arithmetic Operations

In [88]:
# addition
s1.add(s2)

0    2.0
1    1.0
2    5.0
3    NaN
4    NaN
5    0.0
6    5.3
dtype: float64

In [89]:
# subtraction
s1.sub(s2)

0    0.0
1    3.0
2    1.0
3    NaN
4    NaN
5    0.0
6   -0.7
dtype: float64

In [90]:
# multiplication
s1.mul(s2)

0    1.0
1   -2.0
2    6.0
3    NaN
4    NaN
5    0.0
6    6.9
dtype: float64

In [91]:
# division
s1.div(s2)

0    1.000000
1   -2.000000
2    1.500000
3         NaN
4         NaN
5         NaN
6    0.766667
dtype: float64

In [92]:
s1.truediv(s2)

0    1.000000
1   -2.000000
2    1.500000
3         NaN
4         NaN
5         NaN
6    0.766667
dtype: float64

In [93]:
# integer division
s1.floordiv(s2)

0    1.0
1   -2.0
2    1.0
3    NaN
4    NaN
5    NaN
6    0.0
dtype: float64

In [94]:
# modulo
s1.mod(s2)

0    0.0
1   -0.0
2    1.0
3    NaN
4    NaN
5    NaN
6    2.3
dtype: float64

In [95]:
# power
s1.pow(s2)

0     1.000
1     0.500
2     9.000
3       NaN
4       NaN
5     1.000
6    12.167
dtype: float64

### Advanced Operations

In [96]:
# combine both and take the heighest value across them
s1.combine(s2, max)

0    1.0
1    2.0
2    3.0
3    NaN
4    3.0
5    0.0
6    3.0
dtype: float64

In [97]:
# similar to coalesce in SQL
s1.combine_first(s2)

0    1.0
1    2.0
2    3.0
3    2.0
4    3.0
5    0.0
6    2.3
dtype: float64

In [98]:
# round
s1.round()

0    1.0
1    2.0
2    3.0
3    NaN
4    3.0
5    0.0
6    2.0
dtype: float64

### Comparison

In [99]:
# less than
s1.lt(s2)

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [100]:
# greater that
s1.gt(s2)

0    False
1     True
2     True
3    False
4    False
5    False
6    False
dtype: bool

In [101]:
# less or equal than
s1.le(s2)

0     True
1    False
2    False
3    False
4    False
5     True
6     True
dtype: bool

In [102]:
# greater or equal that
s1.ge(s2)

0     True
1     True
2     True
3    False
4    False
5     True
6    False
dtype: bool

In [104]:
# equal
s1.eq(s2)

0     True
1    False
2    False
3    False
4    False
5     True
6    False
dtype: bool

In [103]:
# not equal
s1.ne(s2)

0    False
1     True
2     True
3     True
4     True
5    False
6     True
dtype: bool

### Products

In [115]:
# product
pd.Series([1, 2, 3]).product() # 1*2*3

6

In [116]:
# dot product
pd.Series([1, 2, 3]).dot(pd.Series([1, 2, 3])) # 1*1 + 2*2 + 3*3

14